/**
 * @name Windows 11 Theme
 * @version 0.1
 * @description A Windows 11 theme!
 * @author ArtZab#8299
 * @invite yB2baWkJhv
 * @source https://github.com/artzab1103/Windows-11-Theme
 * @website https://github.com/artzab1103/Windows-11-Theme
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/sn7BZji.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 1;
  --homeImage: url('https://i.imgur.com/x0zIgIl.png');
  --homeImageSize: contain;
  --themeColor1: #36D1DC;
  --themeColor2: #5B86E5;
  --customFont: Open Sans;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */
